header {
  background-color: #354f52;
  padding: 20px;
  display: flex;

  align-items: center;
  height: 20vh;
  box-sizing: content-box;
}

h1 {
  font-size: 28px;
  color: #cad2c5;
  font-family: sans-serif;
  letter-spacing: 15px;
  background-color: #354f52;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  text-align: center;
}

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 50px);
  align-items: center;
  background-color: #354f52;
  grid-gap: 40px;
}

nav {
  margin-left: 80%;
}

nav ul li a {
  text-decoration: none;
  color: #cad2c5;
  font-family: sans-serif;

  background-color: #354f52;
}

nav ul li a i {
  font-size: 18px;
  background-color: #354f52;
}

li:last-child {
  display: flex;
}

a {
  display: flex;
}

p {
  margin-left: 10px;
  background-color: #354f52;
}

.ring {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-40%, -35%);
  width: 140px;
  height: 105px;
  background: transparent;
  border: 3px solid #52796f;
  border-radius: 50%;
  text-align: center;
  line-height: 47px;
  font-family: sans-serif;
  font-size: 20px;
  color: #cad2c5;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #52796f;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.ring:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #cad2c5;
  border-right: 3px solid #cad2c5;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #52796f;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #afc9c3;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

/* styles responsive */
@media (max-width: 768px) {
  header {
    box-sizing: border-box;
  }

  .logo {
    width: 10%;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 1.9em;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 20px;
  }

  nav {
    text-align: center;

    margin-left: 78%;
    z-index: 1;
  }

  nav ul {
    grid-gap: 0px;
  }

  nav ul li {
    margin: 0 10px;
    flex-direction: column;
    text-decoration: none;
    background-color: #354f52;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  .ring {
    transform: scale(0.5) translate(-8em, -8em);
    z-index: 1;
  }

  a {
    text-decoration: none;
  }

  p {
    display: none;
  }
}
