<header>
 <div>
    <a routerLink="/">
      <div class="ring">BAlY GAMES
        <span></span>
      </div>
    </a>
  </div>
 <div>
  <h1>Gaming Mode Free</h1>
</div>
  <nav>
    <ul>
      
      <li><a routerLink="/search"><i class="fa fa-search" id="search games"></i></a></li>
      
      <li *ngIf="!isLoggedIn; else ProfileLink"><a routerLink="/login">Connexion</a></li>
      <ng-template #ProfileLink><li><a routerLink="/user">Mon Profil</a></li></ng-template>
    </ul>
  </nav>
</header>
