app-game-card {
    width: 75%;
    border: solid 1px black;
    border-radius: 0 0 10px 10px;
    margin-bottom: 1rem;
  }
  
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  @media screen and (min-width: 768px) {
    app-game-card:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  
    app-game-card {
      border-radius: 0 0 10px 10px;
    }
  }
  
  @media screen and (min-width: 1268px) {
    app-game-card {
      border-radius: 0 10px 10px 0;
    }
  }
  