<!-- <div class="container">
    <div class="text-container">
  
    <div class="animated-text">Oops! Page not found.</div>
    <div class="animated-subtext">The requested page could not be found.</div>
    </div>
   
    <div class="button404">
    <button class="button4"  ><a routerLink="/games">retourner à la liste de jeux</a></button>
</div>
    <div class="animated-gif"></div>
</div>

  -->
  <title>Page introuvable</title>

  <div class="container">
    <h1 class="not-found">Page not found</h1>
    <h1 class="animated-text">Error 404</h1>
    <button routerLink="/">Back to Home</button>
  </div>