<div>
  <h1>Terms of Surprises</h1>
  <h2>1. The Banana World 🍌</h2>
  <p>
    All of our free games are now located in an alternate universe populated
    with giant bananas 🍌 . Users are asked to wear a banana cap at all time
    while browsing our website. Monkeys 🐵 are most welcomed.
  </p>
  <h2>2. Destination Moon 🌕</h2>
  <p>
    By looking for a free game on our website, you consent to participate to a
    free expedition to the Moon. Please keep in mind that we are not
    responsibles for possible encounters with excentric aliens or rabied rabbit
    🐰. Good luck !
  </p>
  <h2>3. Unicorns' Dance 🦄</h2>
  <p>
    When you access a game's official website from ours, an Elvis Presley
    impersonator unicorn may appear in front of your screen and will dance on a
    song of your choosing. Please make sure to have enough room for the show,
    since it can be a bit... cumbersome 🐘.
  </p>
  <h2>4. Pillow fight</h2>
  <p>
    By using our website, you consent to participate in a virtual pillow fight
    with other users. Please bring your own pillow. Feathers will fly, children
    shall cry... Blood for the Blood God! Skulls for the Skull Throne 💀!
  </p>
  <h2>5. Best Mustache Contest</h2>
  <p>
    Each month, we organize the best virtual mustache contest. To participate,
    you have to grow a virtual mustache and upload it on our website (feature
    coming soon...). The winner will win a 1 year subscription. Be creative and
    let your hairs do the bidding ! But beware, someone called the Golden
    Mustache wins every time...
  </p>
  <h2>6. Super Powers</h2>
  <p>
    Once you are registered on our website, you will instantly obtain a random
    super power. It can range from being able to fly while eating churros to
    turn old socks into crusty french fries 🍟. But remember, with great power
    comes great responsibility...
  </p>
</div>
