#game-thumbnail {
    width: 100%;
}

#platformIcon {
    width: 1rem;
    height: 1rem;
}

/* section {
    display: flex;
    flex-direction: column;
    width: 365px;
    align-items: center;
}
 */
 
.game-card-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.game-category-platform {
    display: flex;
    gap: 1rem;
}