*{
    margin: 0;
    padding:0;
}

#router-footer {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
}


@media screen and (max-width: 767px) {

  }