<title>Legal Notice</title>
<div>
  <h1>Legal Notice</h1>
  <p>
    This website is provided as a service to users seeking access to a
    collection of free games. By accessing or using this website, you agree to
    comply with and be bound by the following terms and conditions.
  </p>

  <p>
    <strong>Intellectual Property Rights:</strong> All intellectual property
    rights, including but not limited to copyrights, trademarks, and logos,
    displayed on this website belong to their respective owners. You may not
    reproduce, modify, distribute, or use any content from this website without
    obtaining prior written permission from the owner.
  </p>
  <p>
    <strong>User Responsibilities:</strong> You are responsible for your use of
    this website. You agree not to engage in any unlawful, harmful, or abusive
    activities, including but not limited to unauthorized access, interference
    with the website's operation, or distribution of harmful code.
  </p>
  <p>
    <strong>Links to Third-Party Websites:</strong> This website may contain
    links to third-party websites for user convenience. These links do not
    signify our endorsement or responsibility for the content of such
    third-party sites. We recommend reviewing the terms and privacy policies of
    those websites before using them.
  </p>
  <p>
    <strong>Disclaimer of Warranties:</strong> This website and its content are
    provided on an "as is" basis without any warranties, expressed or implied.
    We do not guarantee the accuracy, completeness, or reliability of the
    content or the availability and functionality of the website.
  </p>
  <p>
    <strong>Limitation of Liability:</strong> We shall not be liable for any
    damages, whether direct, indirect, incidental, or consequential, arising out
    of your use or inability to use this website or its content.
  </p>
  <p>
    <strong>Privacy Policy:</strong> We respect your privacy and handle your
    personal information in accordance with applicable data protection laws.
    Please refer to our Privacy Policy for more details.
  </p>
  <p>
    <strong>Governing Law and Jurisdiction:</strong> Any dispute arising out of
    or in connection with this website shall be governed by and construed in
    accordance with the laws of Valisthea. The courts of Valisthea shall have
    exclusive jurisdiction over any such dispute.
  </p>

  <p>
    By using this website, you acknowledge that you have read, understood, and
    agreed to these terms and conditions. If you do not agree to any of these
    terms, please refrain from using this website.
  </p>
</div>
