<div id="content">
  <div id="retour_titre">
    <a routerLink="/login">Back to Login</a>
    <h2>Sign up</h2>
  </div>
  <form
    (ngSubmit)="signupForm.valid && onSubmit()"
    [formGroup]="signupForm"
    #signup_form="ngForm"
  >
    <div>
      <label for="UserId">Login: </label>
      <input
        type="text"
        name="UserId"
        class="input-text"
        formControlName="id"
      />
      <div *ngIf="signupForm['controls'].id.errors && signup_form.submitted">
        <span *ngIf="signupForm['controls'].id.errors?.['required']"
          >A login must be entered</span
        >
        <span *ngIf="signupForm['controls'].id.errors?.['minlength']"
          >Your login must be at least 3 characters long</span
        >
      </div>
    </div>

    <div formGroupName="passwords">
      <label for="UserPassword">Password: </label>
      <input
        type="password"
        class="input-text"
        name="UserPassword"
        formControlName="password"
      />
      <div
        *ngIf="
          signupForm['controls'].passwords['controls'].password.errors &&
          signup_form.submitted
        "
      >
        <span
          *ngIf="signupForm['controls'].passwords['controls'].password.errors?.['required']"
          >A password must be entered</span
        >
        <span
          *ngIf="signupForm['controls'].passwords['controls'].password.errors?.['minlength']"
          >Your password must be at least 8 characters long</span
        >
      </div>

      <label for="UserConfirm-password">Confirm password: </label>
      <input
        type="password"
        class="input-text"
        name="UserConfirm-password"
        formControlName="confirmPassword"
      />
      <div
        *ngIf="
          signupForm['controls'].passwords['controls'].confirmPassword.errors &&
          signup_form.submitted
        "
      >
        <span
          *ngIf="signupForm['controls'].passwords['controls'].confirmPassword.errors?.['required']"
          >You must confirm your password</span
        >
      </div>
      <div
        *ngIf="
          signupForm['controls'].passwords.errors &&
          (signupForm['controls'].passwords['controls'].confirmPassword.dirty ||
            signup_form.submitted)
        "
      >
        <span *ngIf="signupForm['controls'].passwords.errors?.['mustMatch']"
          >Both password and confirm password must match</span
        >
      </div>
    </div>

    <div>
      <label for="UserEmail">Email: </label>
      <input
        type="email"
        name="UserEmail"
        class="input-text"
        formControlName="email"
      />
      <div *ngIf="signupForm['controls'].email.errors && signup_form.submitted">
        <span *ngIf="signupForm['controls'].email.errors?.['required']"
          >An email must be entered</span
        >
        <span *ngIf="signupForm['controls'].email.errors?.['email']"
          >The email must be valid</span
        >
      </div>
    </div>

    <div id="cgu-checkbox">
      <input type="checkbox" name="cgu" formControlName="cgu" />
      <label for="cgu"
        >I accept the
        <a routerLink="/cgu" target="_blank"
          >Terms of Surprises</a
        ></label
      >
    </div>
    <div *ngIf="signupForm['controls'].cgu.errors && signup_form.submitted">
      <span *ngIf="signupForm['controls'].cgu.errors?.['required']"
        >You must accept the ToS</span
      >
    </div>

    <button type="submit">Create account</button>
  </form>
</div>
