* {
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
}

a {
  background-color: initial;
}

span {
  padding: 0;
  background-color: initial;
}

img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

li {
  list-style: none;
}

button {
  width: 100px;
  height: 43px;
}

#textNStuff {
  margin: 20px;
}

#screenshot {
  display: flex;
  flex-direction: column;
}

#sysReq {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .row {
    display: flex;
  }

  #fixedThumb {
    display: flex;
    flex-direction: column;
    position: sticky;
    flex-direction: column;
    top: 100px;
    left: 40px;
    background-color: initial;
  }

  #fixedThumb, ul {
    display: flex;
  }

  #fixedThumb,
  li {
    list-style: none;
  }

  #fixedThumb,
  #fixedImg {
    height: 365px;
    width: 206px;
  }

  .gameIMG {
    display: flex;
    flex-direction: row;
  }

  li,
  button {
    width: inherit;
  }

  #screenshots {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .screenshot {
    width: 400px;
  }
}