<div class="row">

<div class="thumbCol">


<div id="fixedThumb">
    <h1>Game's name</h1>
<img src="https://placehold.co/600x400" alt="Game's thumbnail">

<ul>
    <li> <button>👍</button></li>
    <li> <button>👎</button></li>
    <li> <button>▶️</button></li>
    <li> <button>⭐</button></li>
</ul>
</div>

</div>

<div id="textNStuff" >
<p>Game's description etc
    <br>
    
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae libero, totam error molestiae ea rerum? Tenetur iusto, consequatur quam ratione corrupti porro laboriosam officia vero et sed, atque explicabo odit?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt mollitia ipsum, necessitatibus assumenda nulla cumque, nesciunt illo itaque a voluptatem corporis adipisci minus, facere vitae aliquam ipsam sint cum corrupti.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aut doloribus obcaecati minus similique provident error laboriosam impedit eveniet rem dolore quia repellat distinctio harum, alias nostrum explicabo. Illum, asperiores!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis delectus ullam exercitationem asperiores expedita repellendus quisquam, ipsam, necessitatibus ducimus autem in aliquid fugiat et quas, laudantium itaque suscipit sunt veniam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus eius alias, nemo blanditiis accusamus repellendus omnis, minima quisquam explicabo nam repudiandae magnam quidem a id pariatur fuga sequi ea! Blanditiis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta error facere voluptatum suscipit vero, ducimus libero magnam repellendus maxime. Distinctio, atque. Autem veniam possimus, quia cupiditate nisi delectus ad nostrum.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi asperiores molestias debitis odit doloribus veritatis suscipit, repudiandae perferendis, accusamus maxime qui quam amet pariatur, rerum inventore. Enim, ratione. Sequi, quasi.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore soluta dolores voluptatibus quia maiores consequuntur iusto laboriosam, molestiae fuga perspiciatis aliquid? Impedit fuga ex sint vel recusandae quidem, corrupti molestias?
    
</p>

<img classe="gameIMG" src="https://placehold.co/600x400" alt="Game's screenshot">
<img classe="gameIMG"src="https://placehold.co/600x400" alt="Game's screenshot">
<img classe="gameIMG"src="https://placehold.co/600x400" alt="Game's screenshot">

</div>
</div>

