@import '@angular/cdk/overlay-prebuilt.css';

.cdk-overlay-connected-position-bounding-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.cdk-overlay-pane {
    transform: rotate(90deg)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #52796F;
    color:#CAD2C5 ;
}

button {
    width: 125px;
    height: 1.5rem;
    background-color:mediumblue;
    color: white;
    border: none;
}

button:hover {
    background-color: aquamarine;
    color: black
}

@media screen and (min-width: 768px){
    .cdk-overlay-pane{
        transform: rotate(0deg);
    }
}

