<h1>Find your game!</h1>

<div id="naviagtionElements">
  <select [(ngModel)]="selectPlat" name="Plateform" id="platSelect">
    <option *ngFor="let element of searchArray">{{ element }}</option>
  </select>

  <select [(ngModel)]="sortGame" name="Sort" id="sort">
    <option></option>
    <option *ngFor="let element of sortArray">{{ element }}</option>
  </select>

  <!--   HTML to display the checkbox on desk and mobile -->
  <form (ngSubmit)="onMobileSubmit()" *ngIf="isMobileLayout" [formGroup]="mobileForm" #mobile_Form="ngForm">
    <select
      name="category"
      id="categoryMobile"
      class="mobile-cats"
      formControlName="category"
    >
      <option></option>
      <option *ngFor="let category of catArray" [ngValue]="category">{{ category }}</option>
    </select>
    <button type="submit">SearchTest</button>
  </form>

  <form
    (ngSubmit)="onDesktopSubmit()"
    *ngIf="!isMobileLayout"
    id="deskBox"
    [formGroup]="checkBoxForm"
    #desktopBoxForm="ngForm"
  >
    <div *ngIf="!isMobileLayout">
      <div *ngFor="let element of catArray">
        <input
          type="checkbox"
          [name]="this.element"
          [id]="this.element"
          [formControlName]="this.element"
        />
        <label [for]="this.element">{{ this.element }}</label>
      </div>
    </div>
    <button type="submit">go</button>
  </form>
</div>
<h2>Search Results</h2>

<div>
  <div *ngIf="games && games.length > 0"></div>

  <label for="category"></label>
  <div class="gameCardStyle">
    <div *ngFor="let game of games">
      <app-game-card [game]="game"></app-game-card>
    </div>
  </div>
</div>
