app-game-card {
  width: 75%;
  border: solid 1px black;
  border-radius: 0 0 10px 10px;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

select {
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 30%;
  background-color: #354f52;
 
}

h1,
h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.mobile-cats {
  width: 100%;
}

option {
  
  text-align: center;
  background-color: #354f52;
  color: #cad2c5
}

#navigationElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #52796f;
  
}

@media screen and (min-width: 768px) {
  app-game-card:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  app-game-card {
    width: 100%;
    border-radius: 0 10px 10px 0;
    background-color: #354f52;
  }

  .gameCardStyle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #52796f;

    grid-gap: 3em;
    width: 100%;
    padding-left: 5em;
    padding-right: 5em;
  }
  #deskBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #deskBox > button {
    margin-top: 2em;
  }
  #test {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #354f52;
    width: 100%;
    margin: auto;
    padding-left: 3em;
    padding-right: 3em;


    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 25px;
  }
}

::placeholder {
  color: #090909;
  background-color: #cad2c5;
}

#result{
  background-color:#52796f;
}

label{
  background-color: #354f52;
}

div{
  background-color: #354f52;
}